@media (max-width: 1312px) {
    #quick-inputs-container {
        gap: 50px;
    }
}

@media (max-width: 1122px) {
    #edit-task-finish-date {
        width: 54%;
        padding-right: 4px;
    }

    #edit-task-importance {
        width: 34%;
    }

    #quick-inputs-edit-container label{
        margin-right: -10px;
    }

    #quick-inputs-container select {
        padding-left: 4px;
    }

    #select-status-edit-box {
        margin-left: -36px;
        margin-right: -12px;
    }
}

@media (max-width: 1100px) {
    #quick-inputs-container {
        gap: 24px;
    }
}

@media (max-width: 1024px) {
    #quick-inputs-container {
        gap: 10px;
    }

    #finish-date {
        width: 52%;
    }

    #importance-select-option {
        width: 34%;
    }

    #select-status-box {
        margin-left: -24px;
    }

    #select-finish-date-box {
        width: 41%;
    }
}

@media (max-width: 988px) {
    #quick-inputs-edit-container {
        flex-flow: column wrap;
        align-items: baseline;
        padding: 8px;

        & label {
            margin-right: 12px;
        }

        & select,
        input {
            margin: 24px 0px;
        }
    }

    #edit-task-importance {
        width: 43%;
    }

    #edit-task-status {
        width: 50%;
    }

    #edit-task-finish-date {
        width: 44%;
    }


    #select-importance-edit-box,
    #select-status-edit-box,
    #select-finish-date-edit-box {
        width: 100%;
        margin-top: -24px;
    }

    #task-description-edit-container,
    #buttons-edit-box {
        margin-top: -12px;
    }
}

@media (max-width: 940px) {
    #quick-inputs-container {
        flex-flow: column wrap;
        align-items: baseline;
        padding: 8px;
        margin: 8px;
        gap: 24px;        

        & label {
            margin-right: 12px;
        }
    }

    #select-importance-box,
    #select-status-box,
    #select-finish-date-box {
        width: 100%;
    }

    #importance-select-option {
        width: 27%;
        padding-left: 8px;
    }

    #status-select-option {
        width: 34%;
        padding-left: 8px;
    }

    #finish-date {
        width: 27%;
        padding-left: 8px;
    }

    #description-container {
        min-width: 422px;
    }
}

@media (max-width: 895px) {
    .button-container button {
        padding: 6px 10px;
    }
}

@media (max-width: 875px) {
    #task-name-container input {
        width: 76%;
    }

    .tasksDiv {
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        
        & .task {
            text-align: center;
        }
    }

    .button-container {
        margin-bottom: 8px;
    }

    .finish-date-span {
        margin-left: 0px;
    }

    .description-container {
        text-align: center;

        & button {
            margin-left: 0;
        }
    }

    #description-container {
        min-width: 86%;
        margin: 0 auto 8px;
    }

    #task-name-edit-container input{
        width: 76%;
    }

    #buttons-edit-box {
        gap: 12px;

        & button {
            width: 22%;
        }
    }
}

@media (max-width: 802px) {
    #buttons-edit-box {
        gap: 12px;

        & button {
            width: 25%;
        }
    }
}

@media (max-width: 787px) {
    #search-form-container {
        width: 96%;
    }

    #complete-task-form label {
        font-size: 17px;
    }

    #task-name-container input {
        height: 38px;
        font-size: 16px;
    }

    #general-container {
        width: 96%;
    }
}

@media (max-width: 740px) {
    #search-form-container input{
        width: 72%;
    }

    #clear-all-button,
    #reset-button,
    #add-button {
        padding: 6px 10px;
    }
}

@media (max-width: 678px) {
    #general-container {
        width: 100%;
        border: none;
        box-shadow: none;
    }

    #complete-task-form {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    }

    #finish-date {
        min-width: 132px;
    }

    #importance-select-option {
        min-width: 111px;
    }

    #status-select-option {
        min-width: 120px;
    }

    #foot-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        & #links {
            padding: 16px 16px 8px 16px;
        }
    }

    #edit-task-form {
        padding: 26px;
    }

    #task-name-edit-container input{
        width: 66%;
    }

    #buttons-edit-box button {
        font-size: 14px;
    }
}

@media (max-width: 615px) {
    #task-name-container input {
        width: 68%;
    }

    #search-form-container input {
        padding-left: 12px;
    }
}

@media (max-width: 580px) {
    .tasksDiv .task {
        min-width: 300px;
        max-width: none;
    }
}

@media (max-width: 548px) {
    #search-form-container input {
        font-size: 14px;
        height: 38px;
        padding-left: 12px;
    }

    #search-form-container #search-button {
        height: 38px;
    }
}

@media (max-width: 524px) {
    #header-container {
        padding: 12px 32px;
    }

    #task-name-edit-container label {
        display: block;
        text-align: center;
        margin-bottom: 8px;
    }

    #task-name-edit-container input {
        width: 100%;
        margin: 0px;
        margin-bottom: -12px;
    }
}

@media (max-width: 496px) { 
    #search-form-container input {
        font-size: 13px;
    }

    #copy {
        padding: 12px 32px;
    }

    #copy p{
        display: block;
        text-align: center;
        font-size: 12px;
    }

    #copy a {
        font-size: 14px;
    }

    #clear-all-button,
    #reset-button,
    #add-button,
    #save-edit-button,
    #cancel-edit-button {
        padding: 4px 6px;
    }
}

@media (max-width: 470px) {
    #task-name-container label{
        display: block;
        margin-bottom: 8px;
        text-align: center;
    }

    #task-name-container input {
        width: 100%;
        margin: 0;
    }

    #edit-task-finish-date {
        min-width: 130px;
    }
}

@media (max-width: 408px) {
    #header-container {
        padding: 12px 24px;

        & h2 {
            font-size: 20px;
        }

        & #local-time {
            font-size: 14px;
        }
    }

    #clear-all-button,
    #reset-button,
    #add-button {
        padding: 2px 4px;
    }

    #task-name-container input {
        height: 34px;
    }

    #complete-task-form label,
    #complete-task-form input,
    #clear-all-button,
    #reset-button,
    #add-button {
        font-size: 15px;
    }

    #sorted-by-and-task-counter {
        font-size: 16px;
    }

    .tasksDiv .task {
        min-width: 260px;
    }

    #buttons-edit-box .bi {
        display: none;
    }
}


@media (max-width: 385px) {
    #edit-task-form {
        & label {
            display: block;
            margin-bottom: 8px;
        }

        #edit-task-description {
            padding: 9px 12px;
        }
    }

    #select-finish-date-edit-box,
    #select-importance-edit-box,
    #select-status-edit-box {
        margin: 0;
        padding: 0;

        & select,
        input {
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 16px;
            padding-left: 12px;
        }
    }
}

@media (max-width: 350px) {
    #header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #complete-task-form label {
        display: block;
        margin-bottom: 8px;
        text-align: left;
    }

    #complete-task-form div {
        margin: 0px;
    }

    #task-description-container textarea{
        margin-top: 0;
    }

    #number-countdown {
        margin: 4px;
    }

    #task-counter-and-clear-all-container {
        margin: 0;

        & #general-checkbox-container .bi {
            font-size: 16px;
        }
    }

    #general-checkbox {
        scale: 1;
    }

    .bi-arrow-clockwise {
        margin: 0;
    }

    .tasksDiv .task {
        min-width: 210px;
    }


    .tech-list li {
        margin-right: 8px;
    }

    .tech-logo {
        width: 20px;
        height: auto;
    }

    #links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        margin-left: 14px;
        padding: 20px;
    
        & .bi {
            font-size: 22px;
        }
    }    
    
    #copy {
        padding: 12px;
    }

    #copy p{
        font-size: 11px;
    }

    #copy a {
        font-size: 12px;
    }
}

@media (max-width: 326px) {
    #buttons-edit-box button {
        font-weight: normal;
        font-size: 12px;
    }
}
