/*Generals*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Reddit Sans", sans-serif;
    font-size: 16px;
    background-color: white;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
    background-color: hsla(214, 86%, 72%, 0.164);
    box-shadow: 0px 0px 0px 2px hsla(214, 86%, 42%, 0.164);

    padding: 12px 72px;

    & a {
        color: black;
        text-decoration: none;
    }
}

input[type="checkbox"],
select,
button, 
i {
    cursor: pointer;
}

button {
    color: #222;
    background-color: hsl(215, 68%, 95%);
    border: 1px solid hsl(215, 68%, 88%);
    border-radius: 4px;
    font-size: 18px;
    padding: 8px 14px;

    &:hover {
        background-color: hsl(215, 68%, 84%);
    }

    &:active {
        background-color: white;
    }
}

#title {
    margin-bottom: 0px;
}

#general-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 86%;
    border: 2px solid lightgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 20px auto;
    padding: 20px 12px;
    overflow: hidden;
}

#complete-task-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #F2F6FC;
    border: 1px solid lightgray;
    border-radius: 6px;
    overflow: hidden;
    padding: 12px;
}

#complete-task-form label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

#task-name-container,
#quick-inputs-container,
#task-description-container {
    width: 90%;
    padding: 8px;
    margin: 8px;
    overflow: hidden;
}

#task-name-container input {
    width: 80%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-left: 8px;
    padding-left: 12px;
}

#task-name-container input:focus {
    outline: none !important;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 0 0 1px rgb(58, 58, 58);
}

#quick-inputs-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding: 8px;
    margin: 8px;
    gap: 96px;
    overflow: hidden;
}

#quick-inputs-container input,
#quick-inputs-container select {
    height: 24px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-left: 6px;
}

#quick-inputs-container input:focus,
#quick-inputs-container select:focus {
    outline: none !important;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 0 0 2px lightgray;
}

#quick-inputs-container select,
#sorted-by-container select {
    height: 1.8em;
}

#quick-inputs-container #finish-date {
    height: 2em;
    padding-right: 8px;
}

#task-description-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: flex-start;
}

#task-description-container .optional {
    font-weight: lighter;
    color: #585858;
}

#task-description-container p {
    text-align: right;
    color: #555;
    font-size: 14px;
}

#task-description-container textarea {
    width: 97.3%;
    max-width: 97.3%;
    height: 120px;
    max-height: 377px;
    min-height: 120px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 18px 24px;
    margin-top: 12px;
    overflow-y: scroll;
    resize: none;
}

#task-description-container textarea:focus {
    outline: none !important;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 0 0 1px rgb(58, 58, 58);
}

#number-countdown {
    margin-top: 12px;
    margin-left: 24px;
}

#buttons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

#reset-button {
    background-color: hsl(0, 100%, 95%);
    color: tomato;
    border: 1px solid tomato;
    transition: all 0.3s ease;

    &:hover {
        background-color: hsl(0, 100%, 85%);
        border: 1px solid hsl(9, 100%, 54%);
        color: hsl(9, 100%, 54%);
    }
}

#reset-button:hover .bi-file-earmark-excel {
    color: tomato;
}

.bi-calendar-plus,
.bi-file-earmark-excel {
    margin-right: 8px;
}

#add-button {
    background-color: hsl(120, 100%, 95%);
    color: darkgreen;
    border: 1px solid darkgreen;
    transition: all 0.3s ease;

    &:hover {
        background-color: hsl(120, 100%, 85%);
        border: 1px solid hsl(120, 100%, 10%);
        color: hsl(120, 100%, 10%);
    }
}

#add-button:hover .bi-calendar-plus {
    color: darkgreen;
    font-size: 18px;
}

/* Search Form */
#search-form-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    width: 90%;
    margin: 12px;
    padding: 12px;

    & input {
        width: 90%;
        height: 42px;
        background-color: #EAF1FB;
        border: 1px solid lightgray;
        border-radius: 4px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-left: 8px;
        margin-right: 8px;
        padding-left: 24px;
    
        &:focus {
            outline: none !important;
            background-color: white;
            border: 1px solid rgb(121, 121, 121);
        }    
    }

    & label {
        font-weight: bold;
        color: #333;
    }

    & select {
        height: 24px;
        border: 1px solid lightgray;
        border-radius: 4px;
        padding-left: 8px;
        cursor: pointer;
        
        &:focus {
            outline: none !important;
            border: 1px solid hsl(0, 0%, 83%);
            box-shadow: 0 0 2px lightgray;
        }
    }

    #search-button {
        width: 52px;
        height: 42px;
        background-color: #EAF1FB;
        border: 1px solid lightgray;
        border-radius: 0px 30px 30px 0px;
        margin-left: -12px;
        padding-bottom: 24px;
        transition: all 0.3s ease;

        &:hover {
            background-color: hsl(215, 68%, 88%);
        }

        &:active {
            background-color: white;
        }

        &:focus {
            border: 1px solid rgb(121, 121, 121);
        }
    }

    #search-button i {
        font-size: 19px;
    }

    #sorted-by {
        border-radius: 50%;
        margin-right: 12px;
        padding: 4px;
        transition: all 0.3s;

        &:hover {
            background-color: #dddddd;
        }

        i {
            font-size: 22px;
            padding: 8px 6px;
        }
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#total-search-result-number {
    margin-bottom: 0;
    margin-left: 12px;
}

.bi-search::before {
    padding-right: 5px;
}

#back-button {
    font-size: 16px;
    margin-right: 8px;
}

#sorted-by-container {
    margin-left: 16px;
}

.btn-secondary {
    background-color: transparent;
    color: #222;

    & .bi-filter {
        font-size: 20px;
        padding-left: 4px;
        padding-bottom: 4px;
    }

    &:hover {
        background-color: transparent;
        color: #222;    
    }
}

/*Total Search Results Counter*/
#search-results {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 0px;
}

/* Task Counter and Clear-All-Button Container */
#task-counter-and-clear-all-container {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px 6px 0px 0px;
    margin: 12px;
    padding: 8px;
}

#general-checkbox-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#general-checkbox {
    scale: 1.2;
    margin-left: 9px;
    margin-bottom: 4px;
}

#general-checkbox-container .bi {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 8px 12px;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
        background-color: #dddddd;
    }
}

.dropdown {
    margin-left: 8px;
}

.dropdown-toggle {
    padding: 4px 10px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #dddddd;
    }
}

.dropdown-menu {
    max-height: 240px;
    overflow-y: auto;

    & li:hover {
        background-color: #e6ebf1;
        cursor: pointer;
    }
}

.bi-arrow-clockwise {
    margin-right: 18px;
    margin-left: 18px;
}

#sorted-by-and-task-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 90%;
    margin-bottom: 8px;

    & button {
        font-weight: bold;
        border: none;
        margin-left: -16px;
    }
}

#task-counter {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-right: 20px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

#clear-all-button {
    transition: all 0.3s ease;

    &:hover {
        background-color: hsl(0, 100%, 95%);
        color: hsl(0, 100%, 27%);
        border: 1px solid hsl(0, 100%, 27%);
    }
}

#clear-all-button:hover .bi-x-circle {
    color: tomato;
}

.bi-x-circle {
    margin-right: 8px;
}

.finish-date-span {
    line-height: 32px;
    margin-left: 64px;
}

/*Empty Task Message*/
#empty-message {
    width: 100%;
    line-height: 32px;
    border-radius: 6px;
    padding: 28px;
}

/*Failed Search Results*/
#not-found-message {
    width: 100%;
    text-align: center;
    line-height: 32px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 28px;

    & h2 {
        color: tomato;
    }

    & p {
        font-weight: bold;
        color: black;
    }
}

/* Task List */
#task-list-results-container {
    width: 90%;
    overflow: hidden;
    margin-top: 12px;
    padding: 0px;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.tasksDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    font-size: 17px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #F2F6FC;
    padding: 0px 8px 0px 0px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        border-top: 1px solid lightgray;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    }

    & .task-checkbox {
        scale: 1.2;
        margin-left: 4px;
        margin-right: 16px;
    }

    & .task {
        min-width: 500px;
        max-width: 6%;
        line-height: 24px;
        padding: 8px;
        margin-bottom: 0px;
        overflow: hidden;
    }

    & .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

.show-description-button {
    color: hsl(210, 100%, 46%);
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 42px;
    padding: 0px;
    transition: all 0.3s;

    &:hover {
        color: hsl(210, 100%, 36%);
        background-color: transparent;
    }
}

#description-container {
    min-width: 501px;
    max-width: 6%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 8px 8px 8px 16px;
    padding: 16px;
    color: #333;
    font-size: 15px;
    overflow: auto;
    max-height: 10rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.edit-button .bi-pencil-square {
    color: hsl(177, 70%, 41%);
    margin-right: 12px;
    transition: all 0.3s ease;
}

.edit-button:hover {
    background-color: hsl(177, 70%, 21%);
    color: lightgray;
    border: 1px solid hsl(177, 70%, 41%);
}

.delete-button {
    color: tomato;
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: tomato;
    color: lightgray;
    border: 1px solid darkred;
}

#empty-div {
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
}

#not-found-message-h4 {
    color: #222;
}

#show-tasks-again {
    color: black;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

/*Edit Form*/
#edit-task-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1em;
    background-color: hsla(32, 100%, 71%, 0.637);
    color: black;
    border: 1px solid darkorange;
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5);
    padding: 26px 56px;
    overflow: hidden;

    & input,
    select,
    textarea {
        border: 1px solid darkorange;
        border-radius: 6px;
        margin-left: 8px;
        padding-left: 12px;
    
        &:focus {
            outline: none !important;
                border: 1px solid darkorange;
                box-shadow: 0 0 1px darkorange;
        }
    }
}

#task-name-edit-container,
#quick-inputs-edit-container,
#task-description-edit-container {
    width: 90%;
    padding: 8px;
    margin: 8px;
    overflow: hidden;
}

#edit-task-finish-date {
    padding-right: 8px;
}

#task-name-edit-container input {
    width: 80%;
    height: 40px;
    margin-left: 8px;
    padding-left: 12px;
}

#quick-inputs-edit-container {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: flex-start;

    & select,
    input {
        height: 40px;
        padding-left: 6px;
    }
}

#quick-inputs-edit-container select {
    margin-left: 8px;
    margin-right: 18px;
}

#task-description-edit-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: flex-start;

    & #edit-task-description {
        width: 98%;
        max-width: 98%;
        height: 80px;
        max-height: 377px;
        min-height: 100px;
        padding: 18px 24px;
        margin: 8px;
        margin-left: 0px;
        margin-top: 16px;
        overflow: hidden;
    }

    & .edit-task-description {
        color: #585858;
    }
}

#buttons-edit-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 46px;

    & button {
        width: 140px;
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    & #save-edit-button {
        background-color: hsl(123, 95%, 31%);

        &:hover {
            background-color: hsl(123, 95%, 21%);
        }

        &:active {
            background-color: hsl(123, 95%, 41%);
        }
    }

    & #cancel-edit-button {
        background-color: hsl(0, 96%, 56%);

        &:hover {
            background-color: hsl(0, 96%, 46%);
        }

        &:active {
            background-color: hsl(0, 96%, 66%);
        }
    }
}

/*Footer*/
footer {
    position: flex;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    border-top: 1px solid lightgray;

    & p {
        font-size: 16px;
        margin-bottom: 0px;
    }
}

#info-container {
    background-color: hsla(214, 86%, 72%, 0.164);
    box-shadow: 0px -2px 0px hsla(214, 86%, 42%, 0.164);
    color: #222;
    font-weight: bold;
}

#foot-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 20px;
}

#techs {
    display: flex;
    align-items: center;
}

.tech-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 16px;
}

.tech-list li {
    margin-right: 16px;
}
.tech-logo {
    width: 30px;
    height: auto;
}

#links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding: 20px;
    gap: 32px;
}

#links .bi {
    position: relative;
    top: 0; 
    color: #222;
    transition: top 0.3s ease, box-shadow 0.3s ease;
}

#links .bi:hover {
    color: hsl(224, 66%, 27%); 
    top: -3px;
    transform: scale(1.6);
}

#copy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: #555;
    background-color: black;
    padding: 12px 62px;

    & a {
        font-size: 18px;
        color: #777;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.bi-hourglass-bottom {
    color: sandybrown;
}

